*{
    margin: 0;
    padding:0;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #03045e;
}
/*NavBar Section*/
a{
    text-decoration: none;
}
.name-hdr{
    font-size: 3rem;
}
.short-open-p{
    font-size: 1rem;
    font-family: sans-serif;
}
.navbar{
    background-color:#90e0ef;
    padding: 15px;
}
.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.contact-buttons li{
   list-style-type: none; 
    display: inline-block;
    margin-right: 20px; 
    margin-bottom: 10px;   
}
.jonny-png {
  width: 300px;
  height: auto;
  border-radius: 100%;
  margin: 10px;
  border: solid #03045e 5px;
}
.contact-buttons button{
    background-color: #0077b6;
    Padding:10px;
    border-radius:20px
}
.short-open-p{
    margin-top: 10px;
}





/*About Me Section*/
.about-me{
  background-color: #ade8f4;
  margin: 50px auto;
  max-width: 100vw;
  margin: 0px;
  padding-top: 10px;
}
.skills-list li{
  display: flex;
  align-items:center;
  list-style-type:none;
  margin-top: 10px;
  gap:8px;
}
.about-container{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex: wrap;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 50px;
}
.about-me-box{
flex: 1;
  background-color: #0077b6;
  border: 4px solid #03045e;
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  max-width: 525px;
}
.skills-box {
  flex: 1;
  background-color: #0077b6;
  border: 4px solid #03045e;
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  max-width: 525px;
}
h2{
  margin: 20px;
  font-size: 2rem;
  text-align: center;
}
h3{
    text-align: center;
}
.sklogo{
    height: 30px;
    margin-right:10px;
    width: 35px;
}
.sklogocrc{
    height: 25px;
    margin-right:10px;
    width: 25x;
}




/*Section 3*/
.education-work-experience{
    padding-top: 20px;
    background-color: #00b4d8;
}
.explist{
    margin-left: 30px;
    list-style-type: none;
    font-size: 0.9rem;
}
html, body {
  background-color: #00b4d8; 
  height: 100%;
}



/*heada*/
.header-div{
    border-top: solid #03045e 2px; 
    text-align: center;
    font-size: 0.7rem;
}


/*media*/
@media(max-width:768px){
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    .jonny-png{
        width: 200px;
    }

  .name-hdr {
    font-size: 2rem;
  }
   .contact-buttons li {
    display: block;
    margin: 10px 0;
  }
    .navdiv {
    flex-direction: column;
    align-items: center;
  }
  .about-me-box,
  .skills-box {
    width: 80%;        
    max-width: 500px;
  }
}